// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.landing-page {
	height: 100vh;
	background-image: url("/images/background.jpg");
	filter: blur(8px);
}

.main-content {
	@include outer-container(100%);
	text-align: center;

	#logo {
		position: absolute;
		top: 30px;
		left: 30px;
	}


	#description {
		z-index: 2;
		position: absolute;
		@include row();
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;


    line-height: 0;
    h2 {
        line-height:.8;
        margin: .5em 0 .5em;
        font-size:9vw;
        @include media($medium-screen){
            font-size:4.4vw;
        }
    .secondary {
        font-size:8.5vw;

        @include media($medium-screen){
            font-size:4vw;
        }
    }
	}
}

}
