www.zzrot.com, zzrot.com {

				proxy / zzrot.com:80

				header / {
					X-Frame-Options DENY
					X-Content-Type-Options nosniff
					X-XSS-Protection "1; mode=block"
					Strict-Transport-Security "max-age=7776000; includeSubDomains"
				}

				gzip

				tls sean@zzrot.com
}

blog.zzrot.com {
			proxy / blog.zzrot.com:2368

			header / {
				X-Frame-Options DENY
				X-Content-Type-Options nosniff
				X-XSS-Protection "1; mode=block"
				Strict-Transport-Security "max-age=7776000; includeSubDomains"
			}

			gzip

			tls sean@zzrot.com
}

jenkins.zzrot.com {
	proxy / jenkins.zzrot.com:8080 {
		proxy_header Host {host}
		proxy_header X-Real-IP {remote}
		proxy_header X-Forwarded-Proto {scheme}
	}

	gzip

	tls sean@zzrot.com
}
