// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
	@include outer-container(100%);
	font-family: $welcome-font;


	height: 10vh;
	position: fixed;
	bottom:0;
	left: 50%;
  transform: translate(-50%, 0);

	.copyright, .social {
			@include span-columns(12);
			text-align: center;

	}

	.social {
			a {
					color: #323232;
					cursor: pointer;


			}


	}

	.copyright {
			margin-top: 10px;
			a{
					color: $base-font-color;
			}

	}
}
