.message-to,.message-from {
margin-top: 20px;
padding: 5px 9px;
max-width: 50%;
clear: both;
position: relative;
//visibility: hidden;
}

.message-to{
float: left;
margin-right: auto;
-webkit-border-radius: 8px 8px 8px 0px;
-moz-border-radius: 8px 8px 8px 0px;
-o-border-radius: 8px 8px 8px 0px;
-ms-border-radius: 8px 8px 8px 0px;
border-radius: 8px 8px 8px 0px;
background-color: #9b59b6;
color: #ffffff;
}

.message-to:before {
border-bottom: 10px solid #9b59b6;
border-left: 9px solid rgba(0, 0, 0, 0);
position: absolute;
bottom: 0;
left: -8px;
content: "";
}

.message-from{
float: right;
margin-left: auto;
text-align: right;
-webkit-border-radius: 8px 8px 0px 8px;
-moz-border-radius: 8px 8px 0px 8px;
-o-border-radius: 8px 8px 0px 8px;
-ms-border-radius: 8px 8px 0px 8px;
border-radius: 8px 8px 0px 8px;
background-color: #E5E4E9;
color: $dark-gray;
}

.message-from:before {
border-bottom: 9px solid #E5E4E9;
border-right: 9px solid rgba(0, 0, 0, 0);
position: absolute;
bottom: 0;
right: -8px;
content: "";
}
